In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from random import randint
import ast
# pd.set_option("display.max_rows",None)

In [145]:
# Reading the credits and movies
credits_df = pd.read_csv("./credits.csv")
movies_df = pd.read_csv("./movies.csv")

credits_df.info()
# movies_df.info()

# Merge movies and credits
movies_df = movies_df.merge(credits_df,on="title")
movies_df = movies_df[["movie_id","title","overview","genres","keywords","cast","crew"]]
movies_df.info()

# We want to get the number of missing values in the dataset
movies_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   overview  4805 non-null   object
 3   genres    4808 non-null   object
 4   keywords  4808 non-null   object
 5   cast      4808 non-null   object
 6   crew      4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.5+ KB

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [149]:
# We are extracting the movie genres from the list
f = lambda x: [i["name"] for i in ast.literal_eval(x)]
genres_list = []
for genre in map(f,movies_df["genres"]):
    genres_list.append(genre)
    

# We are extracting the movie keywords from the list
f1 = lambda x: [i["name"] for i in ast.literal_eval(x)]
keyword_list = []
for keyword in map(f1,movies_df["keywords"]):
    keyword_list.append(keyword)

# movies_df["keywords"][0]


# Extracting movie cast
f2 = lambda x : [i["name"] for i in ast.literal_eval(x)]
cast_names=[]
for cast in map(f2,movies_df["cast"]):
    if(cast):
        cast_names.append(cast)
    else:
        cast_names.append(" ")


# Extracting crew
f3 = lambda x : [i["name"] for i in ast.literal_eval(x) if i["job"]=="Director"]
director_list=[]
for director in map(f3,movies_df["crew"]):
    director_list.append(director)

In [150]:
movies_df["genres"]=genres_list
movies_df["keywords"]=keyword_list

movies_df["cast"]=cast_names

# movies_df["cast"] = movies_df["cast"].apply(lambda x : x[0])

movies_df["crew"]=director_list

In [151]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [152]:
# Dropping any row that has a "nan" value
movies_df = movies_df.dropna()
movies_df.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [153]:
# Convert all Overview to list
movies_df["overview"] = movies_df["overview"].apply(lambda x :x.split())
movies_df.head()

C:\Users\yevsel\AppData\Local\Temp\ipykernel_17728\1970330188.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df["overview"] = movies_df["overview"].apply(lambda x :x.split())

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [ ]:
# Removing empty spaces in the columns