In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from random import randint
import ast

# pd.set_option("display.max_rows",None)

In [2]:
# Reading the credits and movies
credits_df = pd.read_csv("./credits.csv")
movies_df = pd.read_csv("./movies.csv")

credits_df.info()
# movies_df.info()

# Merge movies and credits
movies_df = movies_df.merge(credits_df,on="title")
movies_df = movies_df[["movie_id","title","overview","genres","keywords","cast","crew"]]
movies_df.info()

# We want to get the number of missing values in the dataset
movies_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   overview  4805 non-null   object
 3   genres    4808 non-null   object
 4   keywords  4808 non-null   object
 5   cast      4808 non-null   object
 6   crew      4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.5+ KB

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [3]:
# We are extracting the movie genres from the list
f = lambda x: [i["name"] for i in ast.literal_eval(x)]
genres_list = []
for genre in map(f,movies_df["genres"]):
    genres_list.append(genre)
    

# We are extracting the movie keywords from the list
f1 = lambda x: [i["name"] for i in ast.literal_eval(x)]
keyword_list = []
for keyword in map(f1,movies_df["keywords"]):
    keyword_list.append(keyword)

# movies_df["keywords"][0]


# Extracting movie cast
f2 = lambda x : [i["name"] for i in ast.literal_eval(x)]
cast_names=[]
for cast in map(f2,movies_df["cast"]):
    if(cast):
        cast_names.append(cast)
    else:
        cast_names.append(" ")


# Extracting crew
f3 = lambda x : [i["name"] for i in ast.literal_eval(x) if i["job"]=="Director"]
director_list=[]
for director in map(f3,movies_df["crew"]):
    director_list.append(director)

In [4]:
movies_df["genres"]=genres_list
movies_df["keywords"]=keyword_list

movies_df["cast"]=cast_names

# movies_df["cast"] = movies_df["cast"].apply(lambda x : x[0])

movies_df["crew"]=director_list

In [5]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [6]:
# Dropping any row that has a "nan" value
movies_df = movies_df.dropna()
movies_df.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [7]:
# Convert all Overview to list
movies_df["overview"] = movies_df["overview"].apply(lambda x :x.split())
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [8]:
# Removing empty spaces in the columns
movies_df["genres"] = movies_df["genres"].apply(lambda x :[i.replace(" ","") for i in x])
movies_df["keywords"] = movies_df["keywords"].apply(lambda x :[i.replace(" ","") for i in x])
movies_df["cast"] = movies_df["cast"].apply(lambda x :[i.replace(" ","") for i in x])
movies_df["crew"] = movies_df["crew"].apply(lambda x :[i.replace(" ","") for i in x])
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [9]:
# Create a new column called tags where you will add all the columns
movies_df["tags"] = movies_df["overview"]+movies_df["cast"]+movies_df["genres"]+movies_df["crew"]+movies_df["keywords"]
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [10]:
# Create a new dataframe to get rid of the excess columns
movies = movies_df[["movie_id","title","tags"]]
movies.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [11]:
# Convert the tags back to string
movies["tags"] = movies["tags"].apply(lambda x : " ".join(x))
movies.head()

C:\Users\yevsel\AppData\Local\Temp\ipykernel_16736\2395849452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"] = movies["tags"].apply(lambda x : " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [12]:
# Convert all the text in tags for better prediction
movies["tags"] = movies["tags"].apply(lambda x:x.lower())

C:\Users\yevsel\AppData\Local\Temp\ipykernel_16736\1611775073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"] = movies["tags"].apply(lambda x:x.lower())

<h1>This is where we use Scikit-learn</h1>

<p>Tokenization is the process of breaking down a text into smaller units called tokens. These tokens can be words, phrases, symbols, or other elements of the text that are relevant for a particular NLP task. Tokenization is a crucial step in text processing and analysis, as it allows the individual components of the text to be analyzed and manipulated.

For example, in the sentence "The quick brown fox jumps over the lazy dog.", the tokens would be ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]. These tokens can then be used as the basic building blocks for various NLP tasks such as text classification, sentiment analysis, and others.</p>

<p>CountVectorizer is a tool in scikit-learn for converting a collection of text documents to a matrix of token counts. It tokenizes the input text into individual words (tokens) and then calculates the frequency of each token in each document. The resulting matrix is commonly referred to as a "bag of words" representation of the text data, and can then be used as input for various machine learning algorithms. The CountVectorizer has options for lowercasing, removing stop words, and n-grams that allow for further customization of the tokenization process.
</p>

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features = 5000, stop_words=[""])

In [88]:
vectorizer.fit_transform(movies["tags"]).toarray().shape

(4805, 5000)

In [89]:
# Convert vector to array
vectors = vectorizer.fit_transform(movies["tags"]).toarray()

In [90]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [91]:
import nltk
# Contains text processing libraries
from nltk.stem.porter import PorterStemmer

<p>
    PorterStemmer is an algorithm used for text processing and natural language processing tasks. It is specifically used for stemming, which is the process of reducing words to their root form. The goal of stemming is to reduce words to their base or root form, so that words with similar meanings are treated as the same word by the NLP algorithms.

For example, the words "running", "runner", "ran" can be reduced to the root form "run" using the PorterStemmer algorithm. This can be useful for tasks such as text classification, information retrieval, and sentiment analysis, where the meaning of the text is more important than the exact words used.

The PorterStemmer algorithm is a widely used algorithm for stemming in the English language and is implemented in various NLP libraries, including scikit-learn.
</p>

In [92]:
ps = PorterStemmer()

In [93]:
# f = lambda text:"".join([ps.stem(i) for i in text.split()])
# f("a runner is someone who runs on a running track")


def stem(text):
    value = []
    for i in text.split():
        value.append(ps.stem(i))
    return " ".join(value)

In [94]:
movies["tags"] = movies["tags"].apply(stem)

C:\Users\yevsel\AppData\Local\Temp\ipykernel_16736\90407520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"] = movies["tags"].apply(stem)

In [98]:
movies.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

<p>
    The cosine_similarity function in scikit-learn is used to compute the cosine similarity between two or more arrays of numerical data. Cosine similarity is a measure of similarity between two non-zero vectors of an inner product space. It is a common similarity measure used in natural language processing and information retrieval, as well as other fields.

The cosine similarity between two vectors A and B is defined as the cosine of the angle between them, and is calculated as:
</p>

<p style="color:red;">cosine_similarity(A, B) = (A . B) / (||A|| * ||B||)</p>

<p>where A . B is the dot product of the two vectors and ||A|| and ||B|| are the norms of the vectors. The resulting similarity score ranges from -1 to 1, with values closer to 1 indicating a high degree of similarity and values closer to -1 indicating a high degree of dissimilarity.</p>

In [99]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

### Define two arrays
A = np.array([1, 2, 3])
B = np.array([2, 3, 4])

### Calculate cosine similarity between A and B
sim = cosine_similarity(A.reshape(1, -1), B.reshape(1, -1))

### The resulting similarity score
print(sim[0][0])
# print(sim)

0.9925833339709303

<p>In this example, the cosine similarity between arrays A and B was calculated and the resulting similarity score of 0.9925816 indicates that the two arrays are very similar.</p>

In [100]:
from sklearn.metrics.pairwise import cosine_similarity

In [101]:
# Remember our vectors variable
sim = cosine_similarity(vectors)

array([1.        , 0.23512243, 0.22443836, ..., 0.25147785, 0.16903085,
       0.13568011])

In [109]:
sorted(list(enumerate(sim[0])),key=lambda x:x[0],reverse=True)[1:6]

[(4803, 0.1690308509457033),
 (4802, 0.25147784538477264),
 (4801, 0.13926212476455826),
 (4800, 0.22914862187910034),
 (4799, 0.20923932356840383)]

In [118]:
# Conditional statement to return the index of an item in the pandas column
# movies[movies["title"]=="Iron Man"].index[0]

68

In [131]:
def recommend(movie):
    movie_index = movies[movies["title"]==movie].index[0]
    distances = sim[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:-1]
    
    for i in movie_list:
        print(movies.iloc[i[0]].title)
        
movies["title"].tail()

4803                  El Mariachi
4804                    Newlyweds
4805    Signed, Sealed, Delivered
4806             Shanghai Calling
4807            My Date with Drew
Name: title, dtype: object

In [141]:
recommend("Iron Man")

Iron Man 3
Iron Man 2
The Avengers
Thor
Avengers: Age of Ultron
Captain America: The First Avenger
Captain America: Civil War
Guardians of the Galaxy
Spawn

In [142]:
recommend("Captain America: Civil War")

Captain America: The Winter Soldier
300: Rise of an Empire
The Ballad of Gregorio Cortez
The Blade of Don Juan
Avengers: Age of Ultron
The Avengers
Dolphins and Whales: Tribes of the Ocean
How to Train Your Dragon 2
The Work and the Glory II: American Zion